{{define "base"}}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>{{template "title" .}} - Библиотека</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var input = document.getElementById('searchInput');
            var table = document.getElementById('myTable');
            var rows = table.getElementsByTagName('tr');
    
            input.addEventListener('input', function () {
                var filter = input.value.toLowerCase();
    
                for (var i = 1; i < rows.length; i++) {
                    var row = rows[i];
                    var cells = row.getElementsByTagName('td');
                    var visible = false;
    
                    for (var j = 0; j < cells.length; j++) {
                        var cell = cells[j];
                        if (cell) {
                            var text = cell.textContent.toLowerCase();
                            if (text.indexOf(filter) > -1) {
                                visible = true;
                                break;
                            }
                        }
                    }
    
                    row.style.display = visible ? '' : 'none';
                }
            });
        });
    </script>
</head>
<body>
    <header>
    </header>
    <main>
        <a href="/" class="button-link">
            <button class="icon-button">
                <iconify-icon icon="bxs:home"></iconify-icon>Главная
            </button>
        </a>
        <a href="/books" class="button-link">
            <button class="icon-button">
                <iconify-icon icon="ph:book-fill"></iconify-icon> Книги
            </button>
        </a>
        <a href="/issuetable" class="button-link">
        <button class="icon-button">
            <iconify-icon icon="ep:list"></iconify-icon> Выдачи
        </button>
        </a>
        <a href="/logout" class="button-link">
            <button class="icon-button">
                <iconify-icon icon="uil:exit"></iconify-icon> Выйти
            </button>
        </a>
        
        {{template "main" .}}
    </main>
</body>
</html>
{{end}}