{{template "base" .}}
{{define "title"}} Книги {{end}}
{{define "main"}}
<br></br>
{{template "books-addbutton" .}}

<p style="font-size:16px;">Поиск по таблице: <input type="text" id="searchInput" placeholder="Поиск..."></p>
<h1>Список книг</h1>
<table border="1" class="table" id="myTable">
    <thead>
        <tr>
            <th>Название книги</th>
            <th>Автор книги</th>
            <th>Количество книг</th>
            <th>Код книги для выдачи</th>
        </tr>
    </thead>
    <tbody>
        {{range .Books}}
        <tr>
            <td>{{.Book_name}}</td>
            <td>{{.AuthorName}}</td>
            <td>
                <span id="amount{{.BookCode}}">{{.Amount}}</span>
                <button onclick="changeAmount('{{.BookCode}}', 'increment')">+</button>
                <button onclick="changeAmount('{{.BookCode}}', 'decrement')">-</button>
            </td>
            <td>{{.BookCode}}</td>
        </tr>
        {{end}}
    </tbody>
</table>
<script>
    function changeAmount(bookCode, action) {
        // Отправляем запрос на сервер для изменения количества
        fetch(`/changeAmount?bookCode=${bookCode}&action=${action}`)
            .then(response => response.json())
            .then(data => {
                // Обновляем отображаемое количество на странице
                document.getElementById(`amount${bookCode}`).innerText = data.newAmount;
            })
            .catch(error => console.error('Ошибка:', error));
    }
</script>
{{end}}