{{template "base" .}}
{{define "title"}} Книги {{end}}
{{define "main"}}
<br></br>
{{template "books-addbutton" .}}

<p style="font-size:16px;">Поиск по таблице: <input type="text" id="searchInput" placeholder="Поиск..."></p>
<h1>Список книг</h1>
<table border="1" class="table" id="myTable">
    <thead>
        <tr>
            <th>Название книги</th>
            <th>Автор книги</th>
            <th>Количество книг</th>
        </tr>
    </thead>
    <tbody>
        {{range .Books}}
        <tr>
            <td>{{.Book_name}}</td>
            <td>{{.AuthorName}}</td>
            <td>{{.Amount}}</td>
        </tr>
        {{end}}
    </tbody>
</table>
{{end}}