{{define "books-addbutton"}}
<a href="/books/add" class="button-link">
    <button class="icon-button" id="plusbutton">
        <iconify-icon icon="icon-park:plus"></iconify-icon> Добавить новую книгу
    </button>
</a>
{{end}}