{{define "issuetable-buttons"}}
<br></br>
<a href="/issuetable" class="button-link">
    <button class="icon-button" id="plusbutton">
        <iconify-icon icon="ri:passport-fill"></iconify-icon> Таблица всех читателей
    </button>
</a>

<a href="/issuetable/expired" class="button-link">
    <button class="icon-button" id="plusbutton">
        <iconify-icon icon="ri:pass-expired-fill"></iconify-icon> Таблица просрок сдачу
    </button>
</a>
{{end}}