{{define "issuetable-buttons"}}
<br></br>
<a href="/issuetable" class="button-link">
    <button class="icon-button" id="plusbutton">
        <iconify-icon icon="ri:passport-fill"></iconify-icon> Таблица взявших книгу
    </button>
</a>

<a href="/issuetable/expired" class="button-link">
    <button class="icon-button" id="plusbutton">
        <iconify-icon icon="ri:pass-expired-fill"></iconify-icon> Таблица просрок сдачу
    </button>
</a>
<a href="/issuetable/newmember" class="button-link">
    <button class="icon-button" id="plusbutton">
        <iconify-icon icon="mdi:user"></iconify-icon> Добавить нового читателя
    </button>
</a>
<a href="/issuetable/allmembers" class="button-link">
    <button class="icon-button" id="plusbutton">
        <iconify-icon icon="ri:passport-fill"></iconify-icon> Таблица всех читателей
    </button>
</a>
<a href="/issuetable/givebook" class="button-link">
    <button class="icon-button" id="plusbutton">
        <iconify-icon icon="icon-park:minus"></iconify-icon> Выдать книгу
    </button>
</a>
{{end}}